USE [master]
GO
/****** Object:  Database [QuizOnline]    Script Date: 04/03/2021 01:17:11 ******/
CREATE DATABASE [QuizOnline]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuizOnline', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuizOnline.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuizOnline_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuizOnline_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuizOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuizOnline]
GO
/****** Object:  User [IIS APPPOOL\quiz]    Script Date: 04/03/2021 01:17:11 ******/
CREATE USER [IIS APPPOOL\quiz] FOR LOGIN [IIS APPPOOL\quiz] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [IIS APPPOOL\quiz]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\quiz]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\quiz]
GO
/****** Object:  Table [dbo].[Progress]    Script Date: 04/03/2021 01:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Progress](
	[progressld] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](16) NULL,
	[quizId] [int] NULL,
	[lastLearn] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[progressld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressDetail]    Script Date: 04/03/2021 01:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressDetail](
	[progressId] [int] NULL,
	[termId] [int] NOT NULL,
	[progress] [int] NOT NULL,
	[learned] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 04/03/2021 01:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[username] [varchar](16) NOT NULL,
	[quizId] [int] IDENTITY(1,1) NOT NULL,
	[quizName] [nvarchar](50) NOT NULL,
	[quizDescription] [nvarchar](200) NOT NULL,
	[access] [int] NULL,
	[createdDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[quizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizDetail]    Script Date: 04/03/2021 01:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizDetail](
	[quizId] [int] NOT NULL,
	[termId] [int] IDENTITY(1,1) NOT NULL,
	[key] [nvarchar](max) NOT NULL,
	[value] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[termId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 04/03/2021 01:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [varchar](16) NOT NULL,
	[password] [varchar](max) NULL,
	[email] [varchar](50) NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[activeCode] [varchar](16) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Progress] ON 

INSERT [dbo].[Progress] ([progressld], [username], [quizId], [lastLearn]) VALUES (1, N'havusontung007', 1, CAST(N'2021-04-01T23:40:53.790' AS DateTime))
INSERT [dbo].[Progress] ([progressld], [username], [quizId], [lastLearn]) VALUES (2, N'thanhgq', 2, CAST(N'2021-04-01T23:40:53.790' AS DateTime))
INSERT [dbo].[Progress] ([progressld], [username], [quizId], [lastLearn]) VALUES (4, N'havusontung007', 5, CAST(N'2021-04-01T23:40:53.790' AS DateTime))
SET IDENTITY_INSERT [dbo].[Progress] OFF
GO
SET IDENTITY_INSERT [dbo].[Quiz] ON 

INSERT [dbo].[Quiz] ([username], [quizId], [quizName], [quizDescription], [access], [createdDate]) VALUES (N'havusontung007', 1, N'VNI101', N'Món ăn Việt Nam', 2, CAST(N'2021-04-02T21:01:13.290' AS DateTime))
INSERT [dbo].[Quiz] ([username], [quizId], [quizName], [quizDescription], [access], [createdDate]) VALUES (N'thanhgq', 2, N'VNI102', N'Địa danh nổi tiếng ở Việt Nam', 2, CAST(N'2021-04-02T21:01:13.290' AS DateTime))
INSERT [dbo].[Quiz] ([username], [quizId], [quizName], [quizDescription], [access], [createdDate]) VALUES (N'havusontung007', 5, N'VNI103', N'Phim Ảnh', 2, CAST(N'2021-04-02T21:01:13.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Quiz] OFF
GO
SET IDENTITY_INSERT [dbo].[QuizDetail] ON 

INSERT [dbo].[QuizDetail] ([quizId], [termId], [key], [value]) VALUES (1, 4, N'Hòa Lạc', N'Bún bò ngon nhất là ở đâu ?')
INSERT [dbo].[QuizDetail] ([quizId], [termId], [key], [value]) VALUES (1, 5, N'Thanh Hóa', N'Nem chua có xuất sứ ở đâu ?')
INSERT [dbo].[QuizDetail] ([quizId], [termId], [key], [value]) VALUES (1, 6, N'Vũng Tàu', N'Nơi nào sau đây ở Việt Nam có vùng biển được bình chọn là đẹp nhất năm 2018 ?')
GO
SET IDENTITY_INSERT [dbo].[QuizDetail] OFF
GO
INSERT [dbo].[User] ([username], [password], [email], [fullName], [activeCode], [status]) VALUES (N'havusontung007', N'tumotden0', N'havusontung007@gmail.com', N'Hà Vũ Sơn Tùng', NULL, 1)
INSERT [dbo].[User] ([username], [password], [email], [fullName], [activeCode], [status]) VALUES (N'thanhanh', N'BE64CB14DE44253E390706A1EE252CAB', N'giapthanh2000@gmail.com', N'GIAP THANH', NULL, 1)
INSERT [dbo].[User] ([username], [password], [email], [fullName], [activeCode], [status]) VALUES (N'thanhgq', N'thanhgiap', N'thanhgq@gmail.com', N'Giáp Quang Thành', NULL, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61647E44CEEB]    Script Date: 04/03/2021 01:17:12 ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Progress] ADD  DEFAULT (getdate()) FOR [lastLearn]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((2)) FOR [access]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT (getdate()) FOR [createdDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[Quiz] ([quizId])
GO
ALTER TABLE [dbo].[Progress]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[ProgressDetail]  WITH CHECK ADD FOREIGN KEY([progressId])
REFERENCES [dbo].[Progress] ([progressld])
GO
ALTER TABLE [dbo].[ProgressDetail]  WITH CHECK ADD FOREIGN KEY([termId])
REFERENCES [dbo].[QuizDetail] ([termId])
GO
ALTER TABLE [dbo].[ProgressDetail]  WITH CHECK ADD FOREIGN KEY([termId])
REFERENCES [dbo].[QuizDetail] ([termId])
GO
ALTER TABLE [dbo].[ProgressDetail]  WITH CHECK ADD FOREIGN KEY([termId])
REFERENCES [dbo].[QuizDetail] ([termId])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[User] ([username])
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[Quiz] ([quizId])
GO
ALTER TABLE [dbo].[QuizDetail]  WITH CHECK ADD FOREIGN KEY([quizId])
REFERENCES [dbo].[Quiz] ([quizId])
GO
USE [master]
GO
